<div class="interests-card">
  <h3>Interests</h3>
  <ul>
    <li *ngFor="let interest of interests">
      <a 
        *ngIf="getUrl(interest) !== '#'; else textoPlano" 
        [href]="getUrl(interest)" 
        target="_blank" 
        rel="noopener noreferrer" 
        style="color: #2e9ce6; text-decoration: underline; font-weight: bold;">
        {{ getText(interest) }}
      </a>

      <ng-template #textoPlano>
        {{ interest.name || interest }}
      </ng-template>
    </li>
  </ul>
</div>
